{% extends 'base.html.twig' %}

{% block body %}
    <div class="columns">
        <div class="column is-one-third">
            {% for pic in foundUser.profilePicture %}
                <img src="{{ asset('img/profile/small/' ~ pic.filename) }}" alt="Photo de {{ foundUser.username }}">
            {% endfor %}
        </div>
        <div class="column">
            <h2>Profil de {{ foundUser.username }}</h2>
            <div>{{ foundUser.profile.age }} ans</div>
            <div>{{ foundUser.profile.description|nl2br }}</div>

            <div>{{ foundUser.username }} recherche des {{ foundUser.searchCriterias.genders|join(',') }}
                de {{ foundUser.searchCriterias.minAge }} à {{ foundUser.searchCriterias.maxAge }} ans habitant dans les départements :
            {% for dept in foundUser.searchCriterias.departments %}
                {{ dept.name }}
            {% endfor %}</div>
        </div>
    </div>
{% endblock %}

{% block title %}
Profil de {{ foundUser.username }} | {{ parent() }}
{% endblock %}

